<p>Book Component!</p>
<div>
    <form #booksform="ngForm" autocomplete="off" (submit)="saveEmployee(booksform)">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add Book</h3>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-6" [class.has-error]="Title.invalid && Title.touched" [class.has-success]="Title.valid">
                    <label for="Title" class="control-label">Title</label>
                    <input type="text" name="Title" #Title="ngModel" [(ngModel)]="Books.Title" class="form-control" placeholder="Title " required>
                    <span class="help-block" *ngIf="Title.invalid && Title.touched">
              Book Name is required
            </span>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>