<p>Book Component!</p>
<table>
    <thead>
        <th>S. No</th>
        <th>bookId</th>
        <th>title</th>

    </thead>
    <tbody>
        <tr *ngFor="let bk of book;let i=index">
            <td hidden>{{bk.authorId}}</td>
            <td>{{i + 1}}</td>
            <td>{{bk.title}}</td>
        </tr>
    </tbody>
</table>