<p>Author Component!</p>
<div>
    <div>
        <div><button id="addbtn" (click)="onAdd()">{{addbutton}}</button></div>
        <div *ngIf="show">
            <add-Author (notify)="handleNotify($event)"></add-Author>
        </div>
    </div>
    <table>
        <thead>
            <th>S. No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Edit</th>
            <th>Book Detail</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let auth of authorlist;let i=index">
                <td hidden>{{auth.authorId}}</td>
                <td>{{i + 1}}</td>
                <td>{{auth.firstName}}</td>
                <td>{{auth.lastName}}</td>
                <td (click)="onBook(auth.book)">book</td>
                <td (click)="onEdit(auth.authorId)">edit</td>
                <td (onclick)="onDelete(auth.authorId)">del</td>
                <button (click)="onSave()">Save</button>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
        </tr>
        <tr>
            <app-book [book]="selectedbook"></app-book>
        </tr>
    </table>
    <router-outlet></router-outlet>


    <!-- <form AuthorForm="ngForm" autocomplete="off" (submit)="OnSubmit(AuthorForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control"
             id="name" required [(ngModel)]="model.name" name="name">
        </div>

        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>
    </form> -->