<div>
    <form #author="ngForm" autocomplete="off" (submit)="saveEmployee(author)">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create author</h3>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-6" [class.has-error]="FirstName.invalid && FirstName.touched" [class.has-success]="FirstName.valid">
                    <label for="FirstName" class="control-label">First Name</label>
                    <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="author.FirstName" class="form-control" placeholder="First Name" required>
                    <span class="help-block" *ngIf="FirstName.invalid && FirstName.touched">
              First Name is required
            </span>
                </div>
                <div class="form-group col-sm-6" [class.has-error]="LastName.invalid && LastName.touched" [class.has-success]="LastName.valid">
                    <label for="LastName" class="control-label">Last Name</label>
                    <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="author.LastName" class="form-control" placeholder="Last Name" required>
                    <span class="help-block" *ngIf="LastName.invalid && LastName.touched">
              LastName is required
            </span>
                </div>
                <div class="form-group col-sm-6" [class.has-error]="Title.invalid && Title.touched" [class.has-success]="Title.valid">
                    <label for="Title" class="control-label">Title</label>
                    <input type="text" name="Title" #Title="ngModel" [(ngModel)]="Books.Title" class="form-control" placeholder="Title " required>
                    <span class="help-block" *ngIf="Title.invalid && Title.touched">
                  Book Name is required
                </span>
                </div>

            </div>
        </div>
        <!-- <div>
            <add-book (notify)="handleNotifyBook($event)"></add-book>
        </div> -->
        <button type="submit">Submit</button>
    </form>
</div>
<!-- [disabled]="author.invalid" -->